/* app/components/Card.module.css */
.grid {
  display: grid;
 
  gap: 1.5rem;
  margin-top: 2rem;
  
  
  
}
.grid a {
  text-decoration: none;
  column-gap: inherit;
  display: flex;
  flex-direction: column;
  height: 100%; 
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .grid {
    grid-template-columns: repeat(3, 1fr) !important; 
    gap: 1.2rem;
  }
}

@media screen and (max-width: 600px) {
  .grid {
    grid-template-columns: repeat(3, 1fr) !important;
    gap: 0.75rem; 
  }
}


