/* app/globals.css */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow:hidden;
}

body {
  font-family: system-ui, sans-serif;
  line-height: 1.6;
  color: rgb(241, 235, 235);
  background: rgb(62, 16, 16);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



h1 {
  font-size: 2.5rem;
  color: white;
}

.about{
  display: flex;
  flex-direction: column;   /* Keeps the elements stacked vertically */
  justify-content: center;  /* Centers content vertically (top to bottom) */
  align-items: center;      /* Centers content horizontally (left to right) */
  height: 200;       /* Makes the container take up 100% of the screen height */
  text-align: center;
  background-color: white;
  border-radius: 30px;
  padding: 1.5rem;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.06);
  transition: transform 0.15s ease, box-shadow 0.15s ease;
}

